* {
    margin: 0;
    padding: 0;
}

.parent {
    position: absolute;
    margin: 0;
}

.nav {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin: 12px;
}

.list {
    user-select: none;
    justify-content: space-between;
    margin: 1vw;
    padding: 1vw;
    align-items: center;
    display: inline-flex;
    gap: 4vw;
}

.search {
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.content {
    background-color: rgba(128, 128, 128, 0.203);
    font-size: 22px;
    padding: 6px;
    align-items: center;
    text-align: left;
    font-weight: bolder;
    display: inline-flex;
}

video {
    display: block;
    position: relative;
    border: 6px solid black;
    border-radius: 12px;
    max-width: 120px;
    width: 50%;
    float: inline-end;
}

.left {
    width: 80%;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    color: rgba(255, 0, 0, 0.84);
}

#headline {
    text-align: center;
    padding: 25px;
    margin: 6px;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: black;
}

.right {
    width: 20%;
    float: unset;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.value {
    border: none;
    height: 40px;
    width: 18rem;
    padding-left: 6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}

#search-icon {
    padding: 10px;
    background-color: rgba(255, 162, 0, 0.818);
    color: black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#search-icon:hover {
    background-color: rgba(255, 162, 0, 0.928);
}

#search-icon:active {
    background-color: rgb(255, 162, 0);
}

.value::placeholder {
    padding: 6px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.647);
}

h4:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.662);
}

h4:active {
    color: rgba(255, 255, 255, 0.487);

}

#user-icon {
    color: white;
    padding: 6px;
}
