* {
    margin: 0rem;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url("https://wallpaperbat.com/img/395253-cool-tech-wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.heading {
    margin: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    border: 4px solid white;
    backdrop-filter: blur(40px);
    border-radius: 12px;
}

h1 {
    color: #e63415;
    text-align: center;
    text-transform: uppercase;
}

#h2 {
    color: #e5ddea;
    text-align: center;
    text-transform: uppercase;
}

.options1,
.options2,
.options3 {
    display: flex;
    margin-left: 50px;
    min-height: 350px;
    max-height: 350px;
    padding: 3px;
}

.maintain {
    padding: 6px;
    height: 80%;
    width: auto;
}

#background1,
#background2,
#background3,
#background4,
#background5,
#background6,
#background7,
#background8,
#background9 {
    margin: 6px;
    border: 4px solid black;
    border-radius: 20px;
    width: 350px;
    backdrop-filter: blur(4px);
    text-align: center;
    color: white;
}

#overlay1,
#overlay2,
#overlay3,
#overlay4,
#overlay5,
#overlay6,
#overlay7,
#overlay8,
#overlay9 {
    display: none;
}

#listmaintain1,
#listmaintain2,
#listmaintain3,
#listmaintain4,
#listmaintain5,
#listmaintain6,
#listmaintain7,
#listmaintain8,
#listmaintain9 {
    color: white;
    cursor: pointer;
    backdrop-filter: blur(8px);
    border-radius: 20px;
    border: 4px solid white;
    margin-top: 7.5px;
    margin-left: 6px;
    height: 338px;
    width: 343px;
    font-size: 20px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 14px;
}

#listing {
    margin-top: 40px;
}
